<div>
  <nav class="navbar navbar-default">
    <nav>
      <%= link_to 'HOME', items_path %>
      <%= link_to "商品登録", new_item_path %>
      <%= link_to "ジャンル登録", new_category_path %>
      <%= link_to "場所登録", new_place_path %>
    </nav>
  </nav>